<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297450269741-iboavi4equetar1eqs64ukdor9vrdnvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297450269741-iboavi4equetar1eqs64ukdor9vrdnvt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297450269741-vf8fbt9nqtonob6k1gnf9d4nmiim7ols.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqUNaT2WpchSkuh_YHNwAgRGsEiqK6uVk</string>
	<key>GCM_SENDER_ID</key>
	<string>297450269741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parcweb.haegisa2.haegisa2</string>
	<key>PROJECT_ID</key>
	<string>api-6314017189227177025-546468</string>
	<key>STORAGE_BUCKET</key>
	<string>api-6314017189227177025-546468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297450269741:ios:0b1474696eee5709</string>
	<key>DATABASE_URL</key>
	<string>https://api-6314017189227177025-546468.firebaseio.com</string>
</dict>
</plist>